#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.logo {
  width: 100%;
  will-change: filter;
  transition: filter 300ms;
  background-color: #be9f8e;
  box-shadow: #be9f8e 0 0 1em;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  font-size: 24px;
}

.desc {
  color: #888;
  font-size: 14px;
  font-style: italic;

  margin: 10px 0;
  padding: 0 30px;
  line-height: 1.5;
}
